/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: auto;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Noto Serif', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Noto Serif', serif;
}
h1 {
  font-family: 'Cinzel', serif;
}
text {
  font-size: 4rem;
}
h2 {
  font-family: 'Anton', sans-serif;
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.parent-div {
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
}
footer {
  background-color: #6D7A48;
  display: flex;
  height: 20%;
  flex-direction: column;
}
footer .words {
  width: 90%;
  justify-content: space-between;
  display: flex;
  padding-top: 3rem;
  margin: auto;
}
footer .words div {
  width: 45%;
}
footer .a-div {
  justify-content: center;
  width: 80%;
  margin: auto;
  display: inherit;
  height: 10vh;
}
footer .a-div nav {
  display: flex;
  width: 65%;
  justify-content: space-around;
  align-items: center;
}
footer .a-div nav a {
  font-size: large;
  color: #272838;
  text-decoration: none;
  margin: 2px;
  font-family: 'Anton', sans-serif;
  width: 25%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .a-div nav a:hover {
  border: #855A5C double 2px;
  border-radius: 2px;
}
body {
  background-color: #151515;
  background-image: url(/img/footer_lodyas.png);
}
.C-T-A {
  background-color: #7D6D61;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
  padding-top: 1rem;
}
.C-T-A img {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}
.C-T-A h1 {
  font-size: 7rem;
  display: flex;
  justify-content: center;
  text-shadow: #7D7C7A 1px 2.5px 2px;
}
.video-section {
  background-color: #7D6D61;
}
.video-section div {
  justify-content: center;
  display: flex;
}
.content-div {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  background-color: #7D6D61;
}
.content-div p {
  margin: 2rem;
  background-color: #CF5C36;
  border-radius: 9px;
  align-content: center;
  width: 45%;
  padding: 2rem;
}
