// .header-nav-container {

// }


.about-page-header {

    .header-img {
        max-width: 100%;
    }

}

// .middle-containers {
//     // display: flex;
//     // justify-content: space-between;
// }


.main-content-about {
    border: 2px solid orange;
    display: flex;

    //media queries
    @media @mobile {
        justify-content: space-around;
        flex-direction: column;
    }
}

.middle-image-divs {
    display: flex;

}

.middle-img {
    width: 100%;
    object-fit: contain;
    // max-width: 100%;
}

ul.b {
    list-style-position: inside;
  }
.lower-content-about {
    border: 2px solid purple;
    display: flex;
    justify-content: space-around;

    //media queries
    @media @mobile {
        flex-direction: column;
    }
}

.lower-containers {
    border: 2px solid blue;

}

//media queries
.lower-content-about {

    @media @mobile {
        display: flex;
        flex-direction: column;
    }
}

.lower-containers {
    border: 2px solid slateblue;
    display: flex;
    justify-content: space-around;

}

//media queries
.lower-containers {
    @media @mobile {
        display: flex;
        flex-direction: column;
    }
}

.lower-articles {
    border: 2px solid cornflowerblue;
}

img {
    border-radius: 2%;
}

body {
    color: #7D7C7A; 
    // background: @background-color-light;
}