
// .header-nav-container {
    
// }

.about-page-header {
    border: 2px solid black;

    .header-img {
        max-width: 100%;
    }

}

.middle-containers {
    border: 2px solid green;
    // display: flex;
    // justify-content: space-between;
}


.main-content-about {
    border: 2px solid orange;
    display: flex;
    justify-content: space-around;
}


.lower-content-about {
    border: 2px solid purple;
    display: flex;
    justify-content: space-around;
}

.lower-containers {
    border: 2px solid blue;

}

.lower-containers {
    border: 2px solid slateblue;
    display: flex;
    justify-content: space-around;

}

.lower-articles {
    border: 2px solid cornflowerblue;
}