* {
    box-sizing: border-box;
    margin: auto;


}

html {
    font-size: 62.5%;

}

html,
body {
    font-family: 'Noto Serif', serif;
    // background-color: cadetblue;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Noto Serif', serif;


}

h1 {
    font-family: 'Cinzel', serif;
}

text {
    font-size: 4rem;
}

h2 {
    font-family: 'Anton', sans-serif;

    font-size: 3.2rem;
    padding-bottom: 10px;
}

h4 {
    font-size: 2.5rem;
    padding-bottom: 10px;
}

p {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;

}

.parent-div {

    max-width: 1200px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
}